/* merriweather-latin-400-normal */
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:
		url(@fontsource/merriweather/files/merriweather-latin-400-normal.woff2) format('woff2'),
		url(@fontsource/merriweather/files/merriweather-latin-400-normal.woff) format('woff');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* merriweather-latin-600-normal */
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-display: swap;
	font-weight: 600;
	src:
		url(@fontsource/merriweather/files/merriweather-latin-600-normal.woff2) format('woff2'),
		url(@fontsource/merriweather/files/merriweather-latin-600-normal.woff) format('woff');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* merriweather-latin-700-normal */
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src:
		url(@fontsource/merriweather/files/merriweather-latin-700-normal.woff2) format('woff2'),
		url(@fontsource/merriweather/files/merriweather-latin-700-normal.woff) format('woff');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* atkinson-hyperlegible-next-latin-wght-normal */
@font-face {
	font-family: 'Atkinson Hyperlegible Next Variable';
	font-style: normal;
	font-display: swap;
	font-weight: 200 800;
	src: url(@fontsource-variable/atkinson-hyperlegible-next/files/atkinson-hyperlegible-next-latin-wght-normal.woff2)
		format('woff2-variations');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* atkinson-hyperlegible-next-latin-wght-italic */
@font-face {
	font-family: 'Atkinson Hyperlegible Next Variable';
	font-style: italic;
	font-display: swap;
	font-weight: 200 800;
	src: url(@fontsource-variable/atkinson-hyperlegible-next/files/atkinson-hyperlegible-next-latin-wght-italic.woff2)
		format('woff2-variations');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ibm-plex-mono-latin-400-normal */
@font-face {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:
		url(@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-400-normal.woff2) format('woff2'),
		url(@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-400-normal.woff) format('woff');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ibm-plex-mono-latin-700-normal */
@font-face {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src:
		url(@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-700-normal.woff2) format('woff2'),
		url(@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-700-normal.woff) format('woff');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
